
<BSNav IsTabs=true>
    <BSNavItem>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </BSNavItem>
    <BSNavItem>
        <NavLink class="nav-link" href="/user/Profile" Match="NavLinkMatch.All">
            <span class="oi oi-about" aria-hidden="true">Profile</span>
        </NavLink>
    </BSNavItem>
</BSNav>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
